* {
    box-sizing: border-box;
}

:root {
    --paragraph-color: #757575;
    --h3-color: #212121;
    --link-color: #2196F3;
}

body {
    font-family: 'Roboto';
}


p,
h1,
h2,
h3 {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

button {
    cursor: pointer;
}

address {
    font-style: normal;
}

.logo-web {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    color: var(--link-color);
}

.logo-studio {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    color: #000000;

}

.link {
    text-decoration: none;
}


/*----------------------headr------------------------*/
.container {
    width: 1600px;
    height: 80px;
    padding: 32px 215px 32px 215px;
    margin: 0, auto; 
    outline: 1px, solid red;
}

.headr-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: #212121;

}

.headr-link:hover,
:focus {
    color: var(--link-color);
}

.headr-contact {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;

}

.headr-contact:hover,
:focus {
    color: var(--link-color);
}

/*----------------------main------------------------*/
.main {
    position: absolute;
width: 1600px;
height: 600px;
left: 0px;
top: 80px;

background: #2F303A;

}

.main-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: #FFFFFF;
}

.main-h1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #FFFFFF;
    max-width: 800px;
   height: 120px;
}

.main-h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--h3-color);
}

.main-h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}

.main-paragraph {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--paragraph-color);
}

.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}

.position {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;

    color: #757575;
}

/*----------------------footer------------------------*/
.address {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: #FFFFFF;
}

.footer-contact {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
}

.footer-contact:hover,
:focus {
    color: #2196F3;
}

.logo-studio-footer {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    color: white;
}

/*----------------------portfolio------------------------*/
.main-portfolio-btn {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.main-portfolio-btn:hover {
    color: #FFFFFF;
}

.main-portfolio-btn:focus {
    color: var(--link-color);
}

.main-portfolio-h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: var(--h3-color);
}

.main-portfolio-h3-paragraph {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;

    color: var(--paragraph-color);
}