* {
    box-sizing: border-box;
}

:root {
    --paragraph-color: #757575;
    --h3-color: #212121;
    --link-color: #2196F3;
}

body {
    font-family: 'Roboto';
}


p,
h1,
h2,
h3 {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

button {
    cursor: pointer;
}

address {
    font-style: normal;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    outline: 2px solid tomato;
    padding: 32px 15px;
    justify-content: center;
}

.section {
    padding: 94px, 0;
}


/*----------------------headr------------------------*/
.logo-web {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    color: var(--link-color);
}

.logo-studio {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    color: #000000;

}

.link {
    text-decoration: none;
}

.headr-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: #212121;
}

.headr-link:hover,
:focus {
    color: var(--link-color);
}

.headr-contact {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;

}

.headr-contact:hover,
:focus {
    color: var(--link-color);
}

.header {
    margin-bottom: 0px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    border-bottom: #FFFFFF;
    background: #FFFFFF;


}

.headr-nav {
    display: flex;
    align-items: center;
}

.headr-list {
    display: inline-flex;

}

/*----------------------main------------------------*/

.main-button {
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 200px;
    height: 50px;
    text-decoration: none;
    align-items: center;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    margin-bottom: 200px;
}

.main-h1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    margin: auto;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
    color: #FFFFFF;
    max-width: 800px;

}

.main-section {
    text-align: center;
    background: #2F303A;

}

.pictures-about {
    display: flex;
    justify-content: center;
    padding-left: 215px;
    padding-right: 215px;
}

.main-h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--h3-color);
    padding: 200px, 452px, 280px, 452px;
}

.main-h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}

.main-paragraph {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--paragraph-color);
}

.team-list {
    display: flex;
    justify-content: space-between;
}

.tem-item {
    display: flex;
    flex-direction: colum;
    align-items: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 94px;
    border-radius: 0px, 0px, 4px, 4px;
    background-color: #FFFFFF;
}

.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    padding-top: 30px;
    padding-bottom: 10px;
    color: #212121;
}

.position {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    padding-top: 10px;
    padding-bottom: 30px;
    color: #757575;
}

/*----------------------footer------------------------*/
.footer {
    background: #2F303A;
}

.address {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: #FFFFFF;
}

.footer-contact {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
}

.footer-contact:hover,
:focus {
    color: #2196F3;
}

.logo-studio-footer {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    color: white;
}

/*----------------------portfolio------------------------*/
.portfolio-btn-list {}

/*.img{display: inline;}

.pictures-portfolio {
    display: block;
    max-width: 100%; height: auto;}*/
    
.main-portfolio-btn {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;

}

.main-portfolio-btn:hover {
    color: #FFFFFF;
}

.main-portfolio-btn:focus {
    color: var(--link-color);
}

.main-portfolio-h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--h3-color);
}

.main-portfolio-h3-paragraph {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;

    color: var(--paragraph-color);
}